/* You can add global styles to this file, and also import other style files */
form
{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 30px 10%;
}

.btn
{
    width: 100px;
}